* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Karla-800";
  src: url(../public/fonts/Karla-ExtraBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Karla-700";
  src: url(../public/fonts/Karla-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Karla-400";
  src: url(../public/fonts/Karla-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Markazi-500";
  src: url(../public/fonts/MarkaziText-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Markazi-400";
  src: url(../public/fonts/MarkaziText-Regular.ttf);
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

@media screen and (max-width:600px) {
  .wrapper {
      margin: 0 auto;
      max-width: 83vw;
    }
}

@media screen and (min-width:601px) {
  .wrapper {
    margin: 0 auto;
    max-width: 67vw;
  }
}

.nav {
  background-color: #FFFFFF;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 16.5vw;
}

.nav-logo {
  margin: 1rem 0;
  max-width: 12rem;
  margin-right: 3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem
}

.nav li{
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  text-decoration: overline;
}

.nav .nav-item{
  text-decoration: none;
  font-family: 'Karla-800';
  text-transform: uppercase;
  color: #333333;
}

@media screen and (max-width: 600px) {
  .nav .nav-item {
    font-size: x-small;
  }
}

@media screen and (min-width: 601px) {
  .nav .nav-item {
      font-size: smaller;
  }
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: x-large;
  font-weight: bold;
}

.section-hero {
  background-color: #495E57;
  position: relative;
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  max-width: 30vw;
}

.hero-title {
  font-family: 'Markazi-400';
  color: #F4CE14;
  font-size: 4rem;
  line-height: 2rem;
  margin: 0 0;
}

.hero-subtitle {
  font-family: 'Markazi-400';
  color: #EDEFEE;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0;
}

.hero-para {
  font-family: 'Karla-700';
  color: #EDEFEE;
  font-size: 1.125rem;
  line-height: 1.48rem;
  margin: 1rem 0;
}

.section-hero-image {
  position: absolute;
  top: 3rem;
  right: 16.5vw;
}

picture {
  text-align: center;
}

.hero-image {
  width: 30vw;
  max-height: 25rem;
  border-radius: 1rem;
  object-fit: cover;
}

button {
  text-decoration: none;
  max-width: 12.5rem;
  background-color: #F4CE14;
  border-radius: 16px;
  font-family: "Karla-700";
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

button a {
  text-decoration: none;
  font-size: medium;
  color: #333333;
  transition: all 0.3s ease;
}

button:hover, button:active {
  transform: scale(0.96)
}

button:active{
  background-color: #333333;
}

button:active a {
  color: #FFFFFF;
}

@media screen and (max-width:900px) {
  .section-menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;
    }
}

@media screen and (min-width:901px) {
  .section-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0;
  }
}

.menu-title {
  font-family: "Markazi-400";
  font-size: 4rem;
  margin: 0;
}

.section-menu-main {
  display: grid;
  gap: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width:801px) {
  .section-menu-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:800px) {
  .section-menu-main {
      grid-template-columns: repeat(2, 1fr);
    }
}

.card-container {
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  border-radius: 1rem;
  background-color: #EDEFEE;
}

.image-container img {
  overflow: hidden;
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.card-content {
  padding: 0 1rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  font-family: "Markazi-400";
  font-size: xx-large;
  color: #333333;
}

.card-price {
  font-family: "Karla-700";
  font-size: x-large;
  color: #EE9972;
}

.card-body {
  font-family: "Karla-400";
  font-size: large;
  color: #333333;
  min-height: 10vh;
  overflow: visible;
}

.card-footer {
  padding: 1rem 0;
}

.card-footer h3, .card-footer #icon-delivery {
  display: inline-block;
  margin-right: 1rem;
  color: #333333;
}

.card-footer h3 {
  font-family: 'Karla-700';
  font-size: large;
}

.section-testimonial {
  background-color: #F4CE14;
}

.container-testimonial {
  padding: 10vh 0;
}

.section-testimonial-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Markazi-400";
  font-size: xx-large;
  line-height: 0;
}

.section-testimonial-main {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-testimonial {
  display: inherit;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin: 0 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider-testimonial::-webkit-scrollbar {
  display: none;
}


.card-testimonial {
  display: flex;
  flex-flow: row wrap;
  background-color: #FFFFFF;
  min-width: 20vw;
  margin: 0 1rem;
  padding: 1rem;
}

.ratings {
  flex: 1 0 100%;
  max-height: max-content;
  width: 100%;
  margin-left: 25%;
  margin-bottom: 1rem;
}

.testimonial-ratings {
  font-size: larger;
  margin-right: 0.5rem;
  font-family: "Karla-700";
}

.avatar {
  width: 50%;
  height: auto;
  text-align: center;
  align-self: center;
}

.testimonial-avatar {
  object-fit: cover;
  object-position: center;
}

.testimonial-avatar-name {
  overflow: hidden;
  font-family: "Karla-400";
  font-size: medium;
}

.testimonial-review {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  white-space: normal;
  font-family: "Karla-400";
}

.section-about {
  background-color: #FFFFFF;
  position: relative;
}

.section-about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 8rem;
  max-width: 40%;
  padding: 8rem 0;
}

.section-about-main > h2 {
  font-family: 'Markazi-400';
  font-size: 4rem;
  color: #F4CE14;
  line-height: 1rem;
  margin: 0;
}

.section-about-main> h3 {
  font-family: 'Markazi-400';
  font-size: 3rem;
  color: #333333;
  line-height: 5rem;
  margin: 0;
}

.section-about-main > p {
  font-family: 'Karla-400';
  font-size: 1rem;
  color: #333333;
  margin-top: 3rem;
}

.section-about-main > img {
  height: 20vw;
  aspect-ratio: 2.5/3;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.chefA {
  position: absolute;
  right: 20vw;
  top: 10vvh;
}

.chefB {
  position: absolute;
  right: 30vw;
  top: 20vh;
}

.section-footer {
  background-color: #FBDABB;
}

.section-footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0;
}

.footer-logo {
  align-self: center;
  width: 15vw;
}

.footer-nav-category {
  font-family: 'Karla-800';
}

.footer-nav-category > * {
  margin: 0;
  list-style: none;
  color: #333333;
  font-size: small;
  line-height: 1.2;
}


.category-heading {
  font-size: medium;
  margin-bottom: 0.5rem;
}

.footer-nav-category a {
  text-decoration: none;
  color: #333333;
}

.footer-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}