* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Karla-800";
  src: url(../public/fonts/Karla-ExtraBold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Karla-700";
  src: url(../public/fonts/Karla-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Markazi-500";
  src: url(../public/fonts/MarkaziText-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Markazi-400";
  src: url(../public/fonts/MarkaziText-Regular.ttf);
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

@media screen and (max-width:600px) {
  .wrapper {
      margin: 0 auto;
      max-width: 83vw;
    }
}

@media screen and (min-width:601px) {
  .wrapper {
    margin: 0 auto;
    max-width: 67vw;
  }
}

.nav {
  background-color: #FFFFFF;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 16.5vw;
}

.nav-logo {
  margin: 1rem 0;
  max-width: 12rem;
  margin-right: 3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem
}

.nav li{
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  text-decoration: overline;
}

.nav .nav-item{
  text-decoration: none;
  font-family: 'Karla-800';
  text-transform: uppercase;
  color: #333333;
}

@media screen and (max-width: 600px) {
  .nav .nav-item {
    font-size: x-small;
  }
}

@media screen and (min-width: 601px) {
  .nav .nav-item {
      font-size: smaller;
  }
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: x-large;
  font-weight: bold;
}

.section-hero {
  background-color: #495E57;
  position: relative;
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  max-width: 30vw;
}

.hero-title {
  font-family: 'Markazi-400';
  color: #F4CE14;
  font-size: 4rem;
  line-height: 2rem;
  margin: 0 0;
}

.hero-subtitle {
  font-family: 'Markazi-400';
  color: #EDEFEE;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0;
}

.hero-para {
  font-family: 'Karla-700';
  color: #EDEFEE;
  font-size: 1.125rem;
  line-height: 1.48rem;
  margin: 1rem 0;
}

.section-hero-image {
  position: absolute;
  top: 3rem;
  right: 16.5vw;
}

picture {
  text-align: center;
}

.hero-image {
  width: 30vw;
  max-height: 25rem;
  border-radius: 1rem;
  object-fit: cover;
}

button {
  text-decoration: none;
  max-width: 12.5rem;
  background-color: #F4CE14;
  border-radius: 16px;
  font-family: "Karla-700";
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

button a {
  text-decoration: none;
  font-size: medium;
  color: #333333;
  transition: all 0.3s ease;
}

button:hover, button:active {
  transform: scale(0.96)
}

button:active{
  background-color: #333333;
}

button:active a {
  color: #FFFFFF;
}

@media screen and (max-width:900px) {
  .section-menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;
    }
}

@media screen and (min-width:901px) {
  .section-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0;
  }
}

.menu-title {
  font-family: "Markazi-400";
  font-size: 4rem;
  margin: 0;
}

.section-menu-main {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width:801px) {
  .section-menu-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:800px) {
  .section-menu-main {
      grid-template-columns: repeat(2, 1fr);
    }
}

.menu-main-item {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
