.App {
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

.hero {
  display: inline-flex;
  padding: 2vh 0 2vh 0;
  background-color: lightgray;
  width: 100%;
  justify-content: center;
}

.nav-item {
  color: black;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.nav-item #link{
  text-decoration: none;
  color: black;
}